In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from __init__ import *

In [3]:
nu_fe_sa = pd.read_csv("../output/number_feature_sample.tsv", "\t", index_col=0)

bi_co_sa = pd.read_csv("../output/01_comparison_sample.tsv", "\t", index_col=0)

se_fe_ = kraft.gmt.read(kraft.path.list("../input/set/"))

In [4]:
for se in se_fe_:

    if re.match(
        r"^{0}$|.*{1}{0}{1}.*|^{0}{1}.*|.*{1}{0}$".format("FATIGUE[0-9]*", "[\s_]"),
        se,
    ):

        print(se)

HP_APNEIC_EPISODES_PRECIPITATED_BY_ILLNESS_FATIGUE_STRESS
HP_EXERCISE_INDUCED_MUSCLE_FATIGUE
HP_FATIGUE
HP_CHRONIC_FATIGUE

In [5]:
fe__ = se_fe_.values()

st_se_in = pd.DataFrame(
    {
        "Selected": False,
        "N": [len(fe_) for fe_ in fe__],
        "n": [sum(fe in nu_fe_sa.index for fe in fe_) for fe_ in fe__],
    },
    se_fe_,
)

st_se_in.loc[:, "."] = st_se_in.loc[:, "n"] / st_se_in.loc[:, "N"]

st_se_in

                 Selected    N    n         .
chr1p12             False   49   19  0.387755
chr1p13             False  205  124  0.604878
chr1p21             False   99   45  0.454545
chr1p22             False  129   79  0.612403
chr1p31             False  217   87  0.400922
...                   ...  ...  ...       ...
IPA_HDAC8_DN        False    2    2  1.000000
IPA_HDAC10_UP       False    0    0       NaN
IPA_HDAC10_DN       False    1    1  1.000000
IPA_HIST2H4B_UP     False    3    2  0.666667
IPA_HIST2H4B_DN     False    2    1  0.500000

[33893 rows x 4 columns]

In [6]:
st_se_in.loc[
    kraft.array.check_is_extreme(
        st_se_in.loc[:, "n"].values,
        ">",
        th_=[None, SETTING["n_ge"]],
    )
    & kraft.array.check_is_extreme(
        st_se_in.loc[:, "."].values,
        ">",
        th_=[None, SETTING["._ge"]],
    ),
    "Selected",
] = True

In [7]:
st_se_in.loc[SETTING["se_"], "Selected"] = True

st_se_in.to_csv("../output/statistic_set_information.tsv", "\t")

print(st_se_in.loc[:, "Selected"].sum())

st_se_in

11003

                 Selected    N    n         .
chr1p12             False   49   19  0.387755
chr1p13             False  205  124  0.604878
chr1p21             False   99   45  0.454545
chr1p22             False  129   79  0.612403
chr1p31             False  217   87  0.400922
...                   ...  ...  ...       ...
IPA_HDAC8_DN        False    2    2  1.000000
IPA_HDAC10_UP       False    0    0       NaN
IPA_HDAC10_DN       False    1    1  1.000000
IPA_HIST2H4B_UP     False    3    2  0.666667
IPA_HIST2H4B_DN     False    2    1  0.500000

[33893 rows x 4 columns]

In [8]:
st_se_in.loc[SETTING["se_"], :]

,Selected,N,n,.
HP_APNEIC_EPISODES_PRECIPITATED_BY_ILLNESS_FATIGUE_STRESS,True,12,9,0.750000
HP_FATIGUE,True,341,292,0.856305
HP_CHRONIC_FATIGUE,True,19,17,0.894737
CD4+ in Celiac Disease 1,True,318,219,0.688679
CD4+ in Celiac Disease 2,True,680,421,0.619118